<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- 创建一个搜索表单，使用POST方式提交 -->
    <form id="searchForm" name="searchForm" method="post" actoin="/search">
        关键字：<input type="text" id="keyword" name="keyword" placeholder="搜索关键字"/>
        <input type="submit" value="搜索"/>
    </form>
</body>
</html>