{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}
  <h2>新用户注册</h2>
  {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="" method="post">
    <dl>
      <dt>登录账号（昵称）:
      <dd><input type="text" name="username" size="30" value="{{ request.form.username }}">
      <dt>电子邮箱:
      <dd><input type="text" name="email" size="30" value="{{ request.form.email }}">
      <dt>登录密码:
      <dd><input type="password" name="password" size="30">
      <dt>密码确认 <small>(重复)</small>:
      <dd><input type="password" name="password2" size="30">
    </dl>
    <div class="actions"><input type="submit" value="立即注册"></div>
  </form>
{% endblock %}
